body
{
background-color:#fbd139;
}

h1
{
  
  color:rgb(38, 0, 255);
  background-color: cornsilk;
}

#show_sketch
{
  float:right;
}



p
  {
    padding-top:10px;
    font-size:25px;
    
  }

